.parent-dev{
    position: relative;
}
.box{
    position:absolute;
}
.box-1{
    width: 150px;
    height: 150px;
    background-color: rgb(233, 140, 26);
    left: 50px;
    top: 100px;
    z-index: 3;
}

.box-2{
    width: 150px;
    height: 150px;
    background-color: rgb(178, 208, 44);
    left: 100px;
    top: 150px;
    z-index: 1;
}
.box-3{
    width: 150px;
    height: 150px;
    background-color: rgb(17, 197, 80);
    left: 150px;
    top: 200px;
    z-index: 2;
}