/* body{
  width: 100%;
  height: 100vh;
  background-image: url(../images/fire.png);
  background-repeat: repeat-y; 
  background-size:cover ; 
  background-position: top left;
} */

body{
  background-color: hsl(0, 0%, 94%);
}
/* .wrapper{
  color: rgb(115, 212, 5);
}

p{
  color: currentColor;
} */
  /* 01 Background-color ✅ */
      /* body{
        background-color: hsl(0, 29%, 34%);
        color: aliceblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
      } */
  /* 02 Background-image ✅*/
       
  /* 03 Backgroung-repeat ✅*/

  /* 04 Background-position ✅*/

  /* 05 Background-size ✅*/

  /* 06 Background-attachment ✅*/
  
  