@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
    display: grid;
    place-items: center;
}
p{
    font-family:"Urbanist", sans-serif;
    width: 300px;
    height: 200px;
    border: 3px dashed #ff0000;
    padding: 20px;
    
}
p:hover{
    font-family:"Urbanist", sans-serif;
    width: 300px;
    height: 200px;
    border: 3px dashed #ff0000;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
}

    /* font-family:"Urbanist", sans-serif;
    width: 200px;
    height: 200px;
    border: 3px dashed #ff0000;
    padding: 20px;
    border-radius: 10px; */

    /* width: 200px;
    height: 200px;
    border-top-width: 13px;
    border-left-width: 15px;
    border-left-color: green;
    border-left-style: dotted;
    border-top-style: solid;
    border-top-color: red; */
    
   

